@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-gray900 text-gray300
}

:focus {
    outline: 0;
    box-shadow: 0 0 0 2px (#00875F);
}

body, input, textarea, button {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1rem;
}

button {
    @apply bg-green500 text-white px-12 py-2 border border-black text-xl mr-2 rounded-md mt-2
}

.primary {
    color: #fff;
}

.secondary {
    color: orange;
}

.danger {
    color: red;
}

.success {
    color: green;
}