@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #333;

}

button {
    background-color: black;
    color: #FFFFFF;
    padding: 8px 16px;
    border: 1px solid black;
    border-radius: 4px;
    font-size: 14px;
    margin-right: 10px;
}

.primary {
    color: purple;
}

.secondary {
    color: orange;
}

.danger {
    color: red;
}

.success {
    color: green;
}