@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply h-screen w-full
}

a {
    @apply w-12 h-12 flex justify-center items-center text-gray100 border-t-4 border-b-4 border-transparent hover:border-b-green500 active:text-green500
}

:focus {
    outline: 0;
    box-shadow: 0 0 0 2px (#00875F);
}

body, input, textarea, button {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1rem;
}

button {
    @apply bg-green500 text-white px-12 py-2 border border-black text-xl mr-2 rounded-md mt-2
}

.primary {
    color: #fff;
}

.secondary {
    color: orange;
}

.danger {
    color: red;
}

.success {
    color: green;
}